@import '_variables.scss';

.container{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

.startup{
    width: 95%;
    padding: 15px;
    max-width: 1024px;
    margin: auto;
}

.startup h1{
    font-size: $big-font;
}
